<div id="layoutSidenav">
    <div id="layoutSidenav_nav">

        <nav class="sb-sidenav accordion sb-sidenav-dark nav-bg" id="sidenavAccordion">
            <div class="logo-container">
            <img src="../assets/images/logo.png" alt="Your Logo" class="logo">
        </div>
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!-- <div class="sb-sidenav-menu-heading">Menu</div> -->
                    
                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-home text-dark"></i></div>
                        Home
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-cog text-dark"></i></div>
                        User Administration
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-line text-dark"></i></div>
                        Data Analysis
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-user text-dark"></i></div>
                        CVU Client Analysis
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-globe text-dark"></i></div>
                        International Prices
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-dollar-sign text-dark"></i></div>
                        Currency Exchange
                    </a>

                    <a class="nav-link rounded-menu text-dark" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-cogs text-dark"></i></div>
                        Master Setup
                    </a>
                </div>
            </div>
            <div class="divider"></div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!-- home display -->
            <app-cvu-client-analysis></app-cvu-client-analysis>
        </main>
        <footer class="py-4 navbar-color mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted text-dark">Tanzania Revenue Authority &copy; IECDS 2023</div>
                    <!-- <div>
                        <a href="#" class="text-dark">Privacy Policy</a>
                        &middot;
                        <a href="#" class="text-dark">Terms &amp; Conditions</a>
                    </div> -->
                </div>
            </div>
        </footer>
    </div>
</div>
